<aside [ngClass]="{'aside': true}">
    <div [ngClass]="{'postForm': true}">
        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Post title</mat-label>
                <input matInput placeholder="write here...">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Post Text</mat-label>
                <textarea matInput placeholder="write here..."></textarea>
            </mat-form-field>
            <button mat-raised-button color="warn">Add post</button>
        </div>
    </div>
   
</aside>