@import "../../mixins/post.mixin.scss";
@import "../../styles.scss";

//variables
$display: flex;
$jc: space-around;
$flexWrap: wrap;
$textAlign: center;
$cardImgWidth: 85%;


.post {
  @include postBlockView;
}
.postDescription,
.button {
  @include postInfBlock;
}

.posts {
  display: $display;
  justify-content: $jc;
  flex-wrap: $flexWrap;
  background-color:$postBcg;
  min-height: 100vh;
  align-items: flex-end;
}
.title {
  text-align: $textAlign;
}
.mat-card-image {
  width: $cardImgWidth;
  margin: auto;
}
