@import "../../mixins/post.mixin.scss";

//variables
$textAlign: center;
$cardImgWidth: 85%;

.post {
  @include postBlockView;
  .mat-card-header {
    flex-direction: column;
    .title {
      text-align: $textAlign;
    }
  }
  .postDescription {
    @include postInfBlock;
  }
  .button {
    @include postInfBlock;
    display: flex;
    justify-content: space-between;
    .editButtons {
      button {
        margin: 0 5px;
      }
    }
  }
}
.mat-card-image {
  width: $cardImgWidth;
  margin: auto;
}
